#include "keys_ru.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    quick-tap-ms = <200>;
    flavor = "tap-preferred";
    require-prior-idle-ms = <125>;
};

/ {
    behaviors {
        hml: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 33 34 35>;
            hold-trigger-on-release;
        };

        hmr: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31 32>;
            hold-trigger-on-release;
        };

        up_: up_ {
            compatible = "zmk,behavior-mod-morph";
            label = "UP_";
            bindings = <&kp UNDERSCORE>, <&kp GREATER_THAN>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT|MOD_LSFT)>;
        };

        up_min: up_min {
            compatible = "zmk,behavior-mod-morph";
            label = "UP_MIN";
            bindings = <&kp MINUS>, <&kp LPAR>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        up_slash: up_slash {
            compatible = "zmk,behavior-mod-morph";
            label = "UP_SLASH";
            bindings = <&kp SLASH>, <&kp ASTERISK>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        up_dot: up_dot {
            compatible = "zmk,behavior-mod-morph";
            label = "UP_DOT";
            bindings = <&kp PERIOD>, <&kp SEMI>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        upcomma_en: upcomma_en {
            compatible = "zmk,behavior-mod-morph";
            label = "UPCOMMA_EN";
            bindings = <&commaspace_en>, <&kp QUESTION>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        upcomma_ru: upcomma_ru {
            compatible = "zmk,behavior-mod-morph";
            label = "UPCOMMA_RU";
            bindings = <&commspace_ru>, <&kp AMPERSAND>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        altcomma_en: altcomma_en {
            compatible = "zmk,behavior-mod-morph";
            label = "ALTCOMMA_EN";
            bindings = <&ctrl_comma_en>, <&kp COMMA>;

            #binding-cells = <0>;
            mods = <(MOD_LALT)>;
        };

        altcomma_ru: altcomma_ru {
            compatible = "zmk,behavior-mod-morph";
            label = "ALTCOMMA_RU";
            bindings = <&ctrl_comma_ru>, <&kp QUESTION>;

            #binding-cells = <0>;
            mods = <(MOD_LALT)>;
        };

        rep_nav: rep_nav {
            compatible = "zmk,behavior-hold-tap";
            label = "REP_NAV";
            bindings = <&mo>, <&key_repeat>;

            #binding-cells = <2>;
            hold-while-undecided;
            flavor = "balanced";
            tapping-term-ms = <150>;
        };

        rucomma_nav: rucomma_nav {
            compatible = "zmk,behavior-hold-tap";
            label = "RUCOMMA_NAV";
            bindings = <&mo>, <&altcomma_ru>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "balanced";
            hold-while-undecided;
        };

        alt_min: alt_min {
            compatible = "zmk,behavior-mod-morph";
            label = "ALT_MIN";
            bindings = <&ctrl_min>, <&kp PLUS>;

            #binding-cells = <0>;
            mods = <(MOD_LALT)>;
        };

        alt_slash: alt_slash {
            compatible = "zmk,behavior-mod-morph";
            label = "ALT_SLASH";
            bindings = <&ctrl_slash>, <&kp PIPE>;

            #binding-cells = <0>;
            mods = <(MOD_LALT)>;
        };

        alt_: alt_ {
            compatible = "zmk,behavior-mod-morph";
            label = "ALT_";
            bindings = <&ctrl_>, <&kp EQUAL>;

            #binding-cells = <0>;
            mods = <(MOD_LALT)>;
        };

        alt_dot_en: alt_dot_en {
            compatible = "zmk,behavior-mod-morph";
            label = "ALT_DOT_EN";
            bindings = <&ctrl_dot_en>, <&kp AMPERSAND>;

            #binding-cells = <0>;
            mods = <(MOD_LALT)>;
        };

        ru_dot: ru_dot {
            compatible = "zmk,behavior-mod-morph";
            label = "RU_DOT";
            bindings = <&kp SLASH>, <&kp DLLR>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        alt_dot_ru: alt_dot_ru {
            compatible = "zmk,behavior-mod-morph";
            label = "ALT_DOT_RU";
            bindings = <&ctrl_dot_ru>, <&kp EXCL>;

            #binding-cells = <0>;
            mods = <(MOD_LALT)>;
        };

        ctrl_min: ctrl_min {
            compatible = "zmk,behavior-mod-morph";
            label = "CTRL_MIN";
            bindings = <&up_min>, <&kp RPAR>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        ctrl_comma_en: ctrl_comma_en {
            compatible = "zmk,behavior-mod-morph";
            label = "CTRL_COMMA_EN";
            bindings = <&upcomma_en>, <&kp EXCL>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        ctrl_dot_en: ctrl_dot_en {
            compatible = "zmk,behavior-mod-morph";
            label = "CTRL_DOT_EN";
            bindings = <&up_dot>, <&kp COLON>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        ctrl_: ctrl_ {
            compatible = "zmk,behavior-mod-morph";
            label = "CTRL_";
            bindings = <&up_>, <&kp LESS_THAN>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        ctrl_slash: ctrl_slash {
            compatible = "zmk,behavior-mod-morph";
            label = "CTRL_SLASH";
            bindings = <&up_slash>, <&kp BSLH>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        up_inch: up_inch {
            compatible = "zmk,behavior-mod-morph";
            label = "UP_INCH";
            bindings = <&kp DOUBLE_QUOTES>, <&kp SQT>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        ctrl_inch: ctrl_inch {
            compatible = "zmk,behavior-mod-morph";
            label = "CTRL_INCH";
            bindings = <&up_inch>, <&kp GRAVE>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        alt_inch: alt_inch {
            compatible = "zmk,behavior-mod-morph";
            label = "ALT_INCH";
            bindings = <&ctrl_inch>, <&kp DOLLAR>;

            #binding-cells = <0>;
            mods = <(MOD_LALT)>;
        };

        ctrl_comma_ru: ctrl_comma_ru {
            compatible = "zmk,behavior-mod-morph";
            label = "CTRL_COMMA_RU";
            bindings = <&upcomma_ru>, <&kp EXCLAMATION>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        up_dot_ru: up_dot_ru {
            compatible = "zmk,behavior-mod-morph";
            label = "UP_DOT_RU";
            bindings = <&ru_dot>, <&kp RU_SEMICOLON>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        ctrl_dot_ru: ctrl_dot_ru {
            compatible = "zmk,behavior-mod-morph";
            label = "CTRL_DOT_RU";
            bindings = <&up_dot_ru>, <&kp RU_COLON>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        kha {
            bindings = <&kp LBKT>;
            key-positions = <6 7>;
            layers = <0>;
        };

        hrdsgn {
            bindings = <&kp RBKT>;
            key-positions = <7 8>;
            layers = <0 1>;
        };

        TO_RU {
            bindings = <&KB_RU>;
            key-positions = <27 28>;
            layers = <0>;
        };

        TO_EN {
            bindings = <&KB_EN>;
            key-positions = <27 28>;
            layers = <1>;
        };

        yo {
            bindings = <&kp GRAVE>;
            key-positions = <2 3>;
        };

        Fn {
            bindings = <&sl 6>;
            key-positions = <26 27>;
        };

        z {
            bindings = <&kp Z>;
            key-positions = <16 17>;
            layers = <0>;
        };

        undr {
            bindings = <&kp UNDERSCORE>;
            key-positions = <14 13>;
            layers = <0 1>;
        };

        s_o {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <16 15>;
            layers = <0 1>;
        };

        s_c {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <17 18>;
            layers = <0 1>;
        };

        plus {
            bindings = <&kp PLUS>;
            key-positions = <11 12>;
            layers = <0 1>;
        };

        mlck {
            bindings = <&mkp LCLK>;
            key-positions = <33 34>;
        };

        mrck {
            bindings = <&mkp RCLK>;
            key-positions = <35 34>;
        };

        mrck2 {
            bindings = <&mkp RCLK>;
            key-positions = <23 13>;
        };

        mmck {
            bindings = <&mkp MCLK>;
            key-positions = <22 12>;
        };

        en_lbr {
            bindings = <&kp LEFT_BRACE>;
            key-positions = <16 6>;
            layers = <0>;
        };

        en_rbr {
            bindings = <&kp RIGHT_BRACE>;
            key-positions = <17 7>;
            layers = <0>;
        };

        ru_rbrc {
            bindings = <&ru_rbr>;
            key-positions = <17 7>;
            layers = <1>;
        };

        ru_lbrc {
            bindings = <&ru_lbr>;
            key-positions = <16 6>;
            layers = <1>;
        };

        ru_gtc {
            bindings = <&ru_gt>;
            key-positions = <13 3>;
            layers = <1>;
        };

        ru_ltc {
            bindings = <&ru_lt>;
            key-positions = <12 2>;
            layers = <1>;
        };

        ru_sch {
            bindings = <&kp SQT>;
            key-positions = <16 17>;
            layers = <1>;
        };

        ru_minus {
            bindings = <&alt_min>;
            key-positions = <3 4>;
            layers = <1>;
        };

        ru_und {
            bindings = <&alt_>;
            key-positions = <13 14>;
            layers = <1>;
        };

        ru_sl {
            bindings = <&alt_slash>;
            key-positions = <24 23>;
        };

        c_s {
            bindings = <&kp LC(S)>;
            key-positions = <13 12>;
            layers = <0 1>;
        };

        c_c {
            bindings = <&kp LC(C)>;
            key-positions = <13 3>;
            layers = <0 1>;
        };

        c_x {
            bindings = <&kp LC(X)>;
            key-positions = <14 4>;
            layers = <0 1>;
        };

        c_v {
            bindings = <&kp LC(V)>;
            key-positions = <12 2>;
        };

        f_shmn {
            bindings = <&kp A>;
            key-positions = <6 7>;
            layers = <1>;
        };
    };

    macros {
        KB_EN: KB_EN {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LC(LA(NUMBER_6))>,
                <&macro_wait_time 15>,
                <&to 0>,
                <&macro_wait_time 20>;

            label = "KB_EN";
        };

        KB_RU: KB_RU {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LC(LA(N7))>,
                <&macro_wait_time 15>,
                <&to 1>,
                <&macro_wait_time 20>;

            label = "KB_RU";
        };

        commaspace_en: dotspace_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp COMMA &kp SPACE>;
            label = "DOTSPACE_EN";
        };

        commspace_ru: dotspace_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp QUESTION &kp SPACE>;
            label = "DOTSPACE_RU";
        };

        ru_dollar: ru_dollar {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&KB_EN>,
                <&macro_wait_time 10>,
                <&kp DLLR>,
                <&macro_wait_time 10>,
                <&KB_RU>;

            label = "RU_DOLLAR";
        };

        ru_hash: ru_hash {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&KB_EN>,
                <&macro_wait_time 10>,
                <&kp HASH>,
                <&macro_wait_time 10>,
                <&KB_RU>;

            label = "RU_HASH";
        };

        ru_pipe: ru_pipe {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&KB_EN>,
                <&macro_wait_time 10>,
                <&kp PIPE>,
                <&macro_wait_time 10>,
                <&KB_RU>;

            label = "RU_PIPE";
        };

        ru_tilda: ru_tilda {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&KB_EN>,
                <&macro_wait_time 10>,
                <&kp TILDE>,
                <&macro_wait_time 10>,
                <&KB_RU>;

            label = "RU_TILDA";
        };

        ru_grave: ru_grave {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&KB_EN>,
                <&macro_wait_time 10>,
                <&kp GRAVE>,
                <&macro_wait_time 10>,
                <&KB_RU>;

            label = "RU_GRAVE";
        };

        ru_emdash: ru_emdash {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&KB_EN>,
                <&macro_wait_time 10>,
                <&kp LS(LC(U))>,
                <&macro_wait_time 10>,
                <&kp N2 &kp N0 &kp N1 &kp N4 &kp ENTER>,
                <&macro_wait_time 10>,
                <&KB_RU>;

            label = "RU_EMDASH";
        };

        en_emdash: en_emdash {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LS(LC(U))>,
                <&macro_wait_time 10>,
                <&kp N2 &kp N0 &kp N1 &kp N4 &kp ENTER>,
                <&macro_wait_time 10>;

            label = "EN_EMDASH";
        };

        ru_at: ru_at {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&KB_EN>,
                <&macro_wait_time 10>,
                <&kp AT_SIGN>,
                <&macro_wait_time 10>,
                <&KB_RU>;

            label = "RU_AT";
        };

        en_rdq: en_rdq {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LS(LC(U))>,
                <&macro_wait_time 10>,
                <&kp N0 &kp N0 &kp B &kp B &kp ENTER>,
                <&macro_wait_time 10>;

            label = "EN_RDQ";
        };

        ru_ldq: ru_ldq {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&KB_EN>,
                <&macro_wait_time 10>,
                <&kp LS(LC(U))>,
                <&macro_wait_time 10>,
                <&kp N0 &kp N0 &kp A &kp B &kp ENTER>,
                <&macro_wait_time 10>,
                <&KB_RU>;

            label = "RU_LDQ";
        };

        ru_rdq: ru_rdq {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&KB_EN>,
                <&macro_wait_time 10>,
                <&kp LS(LC(U))>,
                <&macro_wait_time 10>,
                <&kp N0 &kp N0 &kp B &kp B &kp ENTER>,
                <&macro_wait_time 10>,
                <&KB_RU>;

            label = "RU_RDQ";
        };

        en_ldq: en_ldq {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LS(LC(U))>,
                <&macro_wait_time 10>,
                <&kp N0 &kp N0 &kp A &kp B &kp ENTER>,
                <&macro_wait_time 10>;

            label = "EN_LDQ";
        };

        ru_lbr: ru_lbr {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&KB_EN>,
                <&macro_wait_time 10>,
                <&kp LEFT_BRACE>,
                <&macro_wait_time 10>,
                <&KB_RU>;

            label = "RU_LBR";
        };

        ru_rbr: ru_rbr {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&KB_EN>,
                <&macro_wait_time 10>,
                <&kp RIGHT_BRACE>,
                <&macro_wait_time 10>,
                <&KB_RU>;

            label = "RU_RBR";
        };

        ru_lt: ru_lt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&KB_EN>,
                <&macro_wait_time 10>,
                <&kp LESS_THAN>,
                <&macro_wait_time 10>,
                <&KB_RU>;

            label = "RU_LT";
        };

        ru_gt: ru_gt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&KB_EN>,
                <&macro_wait_time 10>,
                <&kp GREATER_THAN>,
                <&macro_wait_time 10>,
                <&KB_RU>;

            label = "RU_GT";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
  &hml RIGHT_ALT J  &hml LA(LCTRL) Y  &hml LC(LA(LSHFT)) O  &hml LC(LSHFT) U  &alt_min                               &kp Q    &hmr LC(LSHIFT) G  &hmr LA(LC(LSHFT)) N  &hmr LA(LCTRL) F  &hmr RIGHT_ALT X
  &hml LGUI H       &hml LALT I       &hml LEFT_CONTROL E   &hml LSHFT A      &alt_dot_en                            &kp P    &hmr RSHIFT D      &hmr RCTRL R          &hmr LALT S       &hmr RGUI L
  &lt 8 K           &alt_inch         &alt_                 &altcomma_en      &alt_slash                             &kp B    &kp C              &kp M                 &kp W             &kp V
                                                            &kp TAB           &lt 2 SPACE  &mkp LCLK    &lt 7 ENTER  &lt 3 T  &kp BACKSPACE
            >;
        };

        RU {
            bindings = <
  &hml RIGHT_ALT LEFT_BRACKET  &hml LA(LCTRL) S  &hml LS(LA(LCTRL)) E  &hml LC(LSHFT) J  &kp M                               &kp I    &hmr LC(RSHFT) H  &hmr LS(LA(LCTRL)) V  &hmr LA(LCTRL) R  &hmr RIGHT_ALT P
  &hml LEFT_GUI Q              &hml LALT B       &hml LCTRL T          &hml LSHFT F      &alt_dot_ru                         &kp X    &hmr RSHFT Y      &hmr RCTRL C          &hmr LALT D       &hmr LEFT_GUI U
  &kp SEMI                     &kp DOT           &kp Z                 &altcomma_ru      &kp SQT                             &kp W    &kp K             &kp L                 &kp G             &kp COMMA
                                                                       &trans            &lt 2 SPACE  &trans    &lt 7 ENTER  &lt 4 N  &trans
            >;
        };

        nav {
            bindings = <
  &kp LS(DEL)  &kp LS(HOME)      &kp LS(UP)     &kp LS(END)      &kp DEL                          &kp PG_UP     &kp HOME         &kp UP         &kp END      &kp N0
  &kp LC(A)    &kp LS(LEFT)      &kp LS(DOWN)   &kp LS(RIGHT)    &kp ENTER                        &kp PG_DN     &kp LEFT         &kp DOWN       &kp RIGHT    &kp LC(END)
  &kp LC(Z)    &kp LS(LC(HOME))  &kp LC(MINUS)  &kp LS(LC(END))  &kp LC(PLUS)                     &kp LC(HOME)  &kt LC(PAGE_UP)  &kp LC(PG_DN)  &kp LC(END)  &none
                                                &trans           &trans        &trans    &kp ESC  &mo 5         &kp BSPC
            >;
        };

        sym {
            bindings = <
  &kp EXCLAMATION  &kp AT_SIGN    &kp HASH       &kp DOLLAR  &kp PERCENT                              &kp CARET     &kp AMPERSAND  &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS
  &kp N1           &kp N2         &kp N3         &kp N4      &kp N5                                   &kp N6        &kp N7         &kp N8        &kp N9                &kp N0
  &kp GRAVE        &kp LS(TILDE)  &kp LS(COLON)  &kp SEMI    &kp NON_US_BACKSLASH                     &kp LS(PIPE)  &en_ldq        &en_emdash    &en_rdq               &kp LS(QMARK)
                                                 &trans      &mo 5                 &kp ESC    &trans  &trans        &trans
            >;
        };

        SYM_RU {
            bindings = <
  &kp LS(EXCL)  &ru_at     &ru_hash   &ru_dollar  &kp LS(PRCNT)                     &kp LS(COLON)  &kp HASH  &kp LS(STAR)  &kp LS(LPAR)  &kp LS(RPAR)
  &kp N1        &kp N2     &kp N3     &kp N4      &kp N5                            &kp N6         &kp N7    &kp N8        &kp N9        &kp N0
  &ru_grave     &ru_tilda  &kp CARET  &kp DOLLAR  &kp BACKSLASH                     &ru_pipe       &ru_ldq   &ru_emdash    &ru_rdq       &trans
                                      &trans      &mo 5          &kp ESC    &trans  &trans         &trans
            >;
        };

        adj {
            bindings = <
  &bootloader  &kp F1        &kp F2         &kp F3         &kp F4                     &bt BT_SEL 0  &bt BT_SEL 1         &bt BT_SEL 2       &bt BT_SEL 3        &bt BT_CLR
  &kp LGUI     &hml LALT F5  &hml LSHFT F6  &hml LCTRL F7  &kp F8                     &out OUT_BLE  &hmr RCTRL C_VOL_DN  &hmr RSHFT C_MUTE  &hmr LALT C_VOL_UP  &kp RGUI
  &trans       &kp F9        &kp F10        &kp F11        &kp F12                    &out OUT_USB  &kp C_PREV           &kp C_PP           &kp C_NEXT          &studio_unlock
                                            &trans         &trans   &trans    &trans  &trans        &trans
            >;
        };

        fn_layer {
            bindings = <
  &trans            &trans        &trans         &trans          &kp CAPS                    &kp SCROLLLOCK  &trans         &trans         &trans        &trans
  &hml LEFT_GUI F1  &hml LALT F2  &hml LCTRL F3  &hml LSHIFT F4  &kp F5                      &kp F6          &hmr RSHFT F7  &hmr RCTRL F8  &hmr LALT F9  &hmr LGUI F10
  &trans            &trans        &trans         &trans          &kp F11                     &kp F12         &trans         &trans         &trans        &trans
                                                 &trans          &trans    &trans    &trans  &trans          &trans
            >;
        };

        khronkite {
            bindings = <
  &kp LA(LG(Q))  &kp LA(LG(O))  &kp LG(LS(K))  &kp LA(LG(R))  &kp LA(LG(T))                       &kp LG(F)               &kp LS(LA(F8))  &kp LS(LA(F9))  &kp LS(LA(F10))  &kp LS(LA(F11))
  &kp LA(LG(F))  &kp LS(LG(H))  &kp LS(LG(J))  &kp LS(LG(L))  &kp LA(LG(Y))                       &kp LS(LG(UP))          &kp LC(F1)      &kp LC(F2)      &kp LC(F3)       &kp LC(F4)
  &kp LG(M)      &kp LG(LC(K))  &kp LC(LG(H))  &kp LC(LG(L))  &kp LC(LG(J))                       &kp LS(LG(DOWN_ARROW))  &kp LG(M)       &kp LA(F3)      &kp LC(LG(A))    &kp LG(D)
                                               &kp LG(ENTER)  &kp LG(K)      &kp LG(J)    &trans  &trans                  &trans
            >;
        };

        shortcuts {
            bindings = <
  &trans  &kp LC(Q)  &kp LS(LC(I))  &kp LS(LC(R))  &kp LC(T)                              &kp LC(MINUS)  &kp LC(D)  &kp LC(N)          &kp LS(LC(M))  &kp LC(RU_MINUS)
  &trans  &kp LC(L)  &kp LC(S)      &kp LC(A)      &kp LC(F)                              &kp LC(EQUAL)  &kp LC(P)  &kp LS(LA(LC(E)))  &kp LC(O)      &kp LC(PLUS)
  &trans  &kp LALT   &kp LC(G)      &kp LC(R)      &kp LC(H)                              &kp LC(B)      &kp LC(I)  &kp LC(U)          &kp LS(LC(X))  &kp LSHFT
                                    &kp LC(X)      &kp LC(C)  &kp LC(V)    &kp LS(LC(Z))  &kp LC(Z)      &kp LC(W)
            >;
        };
    };
};
